@media (max-width: 799px){
    .container{
        padding: 0 30px;
    }
    .header__link{
        font-size: 18px;
        line-height: 21.13px;
    }
    .header__body{
        grid-template: 1fr/minmax(auto, 145px) 1fr;
    }
    .header__list{
        gap: 20px;
    }
    .hero__titles p{
        padding: 15px 0 30px;
    }
    .hero__titles h1{
        font-size: 40px;
        line-height: 40px;
    }
    .products__head{
        font-size: 30px;
        line-height: 33px;
        flex-wrap: wrap;
    }
    .products__btn{
        font-size: 18px;
    }
    .products__tab.active{
        grid-template: 1fr 1fr 1fr/50% 50%;
    }
    .hero__body{
        grid-template: 1fr/40% 1fr;
    }
    .products__btn{
        padding: 10px 15px;
    }
    .products__tabs{
        gap: 5px;
    }
    .product__block{
        width: 48%;
    }
    .promo__body{
        max-width: 100%;
    }
    .comand__body{
        grid-template: 50% 50%/1fr;
    }
    .footer__fuck{
        grid-template: 40% 1fr/1fr;
    }
    .comand{
        padding: 20px 0;
    }
    .comand__body-title h5{
        padding: 30px 0 0;
    }
    .footer__head{
        grid-template: 1fr/1fr 1fr;
        justify-content: space-between;
    }
    .footer__contact{
        position: relative;
        justify-self: end;
    }
}
@media (max-width: 767px){
    .header__body{
        grid-template: 1fr 1fr/1fr;
    }
    .header__logo{
        padding: 2px 0;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #C3D1C6;
    }
    .hero{
        padding: 100px 0 20px;
    }
    .header__list{
        justify-content: flex-start;
    }
    .hero__body{
        grid-template:  1fr/ minmax(auto, 195px)1fr;
    }
    .hero__titles h1{
        font-size: 36px;
        line-height: 36px;
    }
    .hero__titles p{
        font-size: 16px;
        line-height: 24px;
    }
    .hero .button{
        font-size: 18px;
        line-height: 21.13px;
        padding: 10px 30px;
    }
    .product__block{
        width: 40%;
    }
    .footer__fuck{
        grid-template: 20% 1fr/1fr;
    }
    .footer__block{
        display: grid;
        grid-template: 1fr 30%/1fr;
    }
    .footer__copy{
        position: relative;
        justify-self: center;
    }
    .footer__aitems{
        border-bottom: 1px solid #C3D1C6;
    }
    .soical{        
        gap: 30px;
    }
    .copy{
        text-align: center;
    }
    .comand__body{
        grid-template: 50% 1fr/1fr;
    }
    .promo{
        padding: 20px 0 40px;
    }
    .product__block img{
        min-width: 100%;
    }
    .products__tab.active{
        grid-template:1fr 1fr 1fr 1fr 1fr 1fr/1fr;
    }
    .footer__copy{
        padding: 0px;
    }    
}
@media (max-width: 575px){
    body.click {
        overflow: hidden;
    }
    .header{
        background: #E1EDE6;
    }
    .header .container{
        padding: 0;
    }
    .burger__menu{
        display: block;
    }
    
    .header__logo{
        padding: 0;
        background: #fff;
    }
    .header__body{
        grid-template: 37px 1fr/1fr;
        padding: 0;
    }
    .header__menu{
        position: absolute;
        background: #E1EDE6;
        left: -100%;
        top: 75px;
        transition: 0.5s;
        width: 100%;
        padding: 20px;
        height: 100vh;
    }
    .header.click .header__menu{        
        left: 0px;        
    }
    .product__block{
        width: 90%;
    }
    .header__fuck{
        padding: 10px 20px;
        background: #E1EDE6;
    }
    .header__list{
        display: grid;
        grid-template: 1fr 1fr 1fr/1fr;
        gap: 40px;
        font-weight: 600;
    }
    .hero__picture{
        display: none;
    }
    .hero__body{
        padding: 20px 0;
        grid-template: 1fr/1fr;
    }
    .products__tabs{
        padding: 10px 0;
    }
    .footer{
        padding: 20px 0 30px;
    }
    .footer__aitems{
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
    }
    .footer__block{
        grid-template: 70% 15%/1fr;
    }
    .footer__contact a{
        font-size: 16px;
    }
    .comand__body{
        grid-template: 40% 1fr/1fr;
    }
}