/* Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*-------------------- */
body{
    width: 100%;
    font-family: Raleway, sans-serif;
    color: #2C2D35;
    font-weight: 500;
}
.header {
    position: fixed;
    width: 100%;
    background: #E1EDE6;
    z-index: 50;
}
.container {
    padding: 0 100px;
    margin: 0 auto;
}
.header__body {
    padding: 5px 0;
    display: grid;
    grid-template: 1fr/minmax(auto, 145px) 1fr;
    justify-content: space-between;
    align-items: center;
}
.header__list {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}
.header__link {
    color: #2C2D35;
    font-size: 20px;
    line-height: 23.48px;
    transition: 0.3s;
}
.burger__menu{
    display: none;
    cursor: pointer;
    width: 30px;
    height: 24px;
    position: relative;
}
.burger__menu span{
    display: block;
    background: #000;
    margin: 5px 0;
    height: 3px;
    width: 30px;
    transition: 0.3s;
}
.header__link:hover{
    color: #376B44;
}
.header__shop {
    position: relative;
    justify-self: end;
    cursor: pointer;
}
.hero {
    padding: 100px 0 40px;
}
.header__fuck{
    display: grid;
    grid-template: 1fr/1fr 50px;
    justify-content: space-between;
}
.hero__body {
    display: grid;
    grid-template: 1fr/1fr 1fr;
    justify-content: space-between;
}
.hero__picture img{
    width: 100%;
    max-width: 100%;
}
.hero__titles {
    position: relative;
    align-self: center;
    max-width: 540px;
}
.hero__titles h1{
    font-size: 60px;
    line-height: 66px;
}
.hero__titles h1 span{
    color: #598D66;
}
.hero__titles p{
    padding: 15px 0 80px;
    color: #86928B;
    font-size: 18px;
    line-height: 27px;
}
.button {
    padding: 20px 65px;
    border: 1px solid #598D66;
    color: #598D66;
    font-size: 20px;
    line-height: 23.48px;
    text-align: center;
    transition: 0.5s;
}
.products {
    padding: 20px 0;
}
.products__head {
    display: grid;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    line-height: 44px;
}
.products__tabs{
    display: flex;
    gap: 20px;
}
.products__btn{
    background: #D4E8D9;
    padding: 10px 20px;
    border-radius: 50px;
    background: #D4E8D9;
    color: #2C2D35;
    font-size: 20px;
    line-height: 23.48px;
    transition: 0.5s;
}
.products__tabs .active{
    color: #F4F6F5;
    background: #376B44;
}
.products__aitems {
    padding: 20px 0;
}
.products__tab{
    display: none;   
    
}
.products__tab.active{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; 
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;    
    margin: 0 auto;
}
.product__block{
    background: #E1EDE6;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1r 1fr 1fr 1fr/1fr;
    width: 31%;

}
.product__block img{
    max-width: 100%;
}
.product__block h6{
    padding: 10px 0;
    color: #86928B;
    font-size: 18px;
    line-height: 21.13px;
}
.product__block h5{
    font-size: 30px;
    line-height: 35.22px;
}
.product__block p{
    padding: 5px 0;
    font-size: 18px;
    line-height: 21.13px;
}
.product__block .price {
    padding: 30px 0 20px;
    font-size: 24px;
    line-height: 28.18px;
    color: #598D66;
}
.product__block .buy, .buy {
    display: block;
    padding: 20px 0;
    text-align: center;
    color: #598D66;
    border: 1px solid #598D66;
    font-size: 20px;
    line-height: 23.48px;
    position: relative;
    align-content: end;
    transition: 0.3s;
}
.promo {
    padding: 100px 0;    
    background-image: url(../img/promo_background.png);
    background-size: cover;
    color: #F4F6F5;
}
.promo__body {
    max-width: 60%;
}
.promo__aitems p{
    font-size: 18px;
    line-height: 27px;
    padding: 15px 0;
}
.promo__aitems-head {
    padding: 10px 0;
    display: flex;
    align-items: center;    
    font-size: 40px;
    line-height: 40px;
}
.promo__button {
    padding: 40px 0 0;
}
.promo__button .button {
    background: #EEDB6D;
    border: none;
    color: #2C2D35;
}
.comand {
    width: 100%;
    padding: 50px 0;
    color: #2C2D35;
}
.comand__body {
    display: grid;
    grid-template: 1fr/1fr 1fr;
    justify-content: space-between;
    gap: 40px;
}
.comand__body-pic img{
    width: 100%;
    max-height: 100%;
}
.comand__body-title h5{
    padding: 50px 0 0;
    font-size: 30px;
    line-height: 33px;
}
.comand__body-title{
    position: relative;
    align-self: center;
}
.comand__body-title p{
    padding: 20px 0;
    font-size: 18px;
    line-height: 27px;
}
.comand__body-guys {
    display: flex;
    gap: 40px;
}
.footer {
    background: #E1EDE6;
    padding: 20px 0;
}
.footer__fuck{
    display: grid;
    grid-template: 1fr/minmax(auto, 350px)1fr;
    justify-content: space-between;
}
.footer__head {
    display: grid;
    grid-template: minmax(auto, 50px) 1fr/1fr;
}
.footer__contact a{    
    color: #2C2D35;
    font-size: 20px;
    line-height: 23.48px;
    transition: 0.3s;
}
.footer__contact p{
    padding: 10px 0;
    color: #86928B;
    font-size: 18px;
    line-height: 21.13px;
}
.footer__block {
    display: grid;
    grid-template: 1fr/85% 1fr;
    justify-content: space-between;
}
.footer__aitems {    
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
}
.footer__aitem {
    padding: 10px 0;
    font-size: 20px;
    line-height: 23.48px;
    padding-left: 10px;
}
.footer__links{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/1fr;
    
}
.footer__links a{
    color: #86928B;
    font-size: 18px;
    line-height: 27px;
}
.footer__copy {
    position: relative;
    justify-self: end;
    padding-left: 30px;
}
.soical {
    display: flex;
    align-items: center;
    gap: 10px;
}
.copy {
    padding: 10px 0;
    color: #86928B;
    font-size: 12px;
    line-height: 14.4px;
}

button:hover, .button:hover, .buy:hover{
    background: #598D66;
    color: #fff;
}
button:active, .button:active, .buy:active{
    background: #D4E8D9;
    color: #598D66;
}

.promo__button .button:hover{
    background: #FAEB97;
    color: #2C2D35;
}
.promo__button .button:active{
    border: 1px solid #A38314;
    color: #2C2D35;
}
.footer__links a:hover,.footer__contact a:hover{
    color: #598D66;
}

.burger__menu.click span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
  
.burger__menu.click span:nth-child(2) {
    opacity: 0;
}
  
.burger__menu.click span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -7px);
}